<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container-fluid">
    <div class="form-row justify-content-md-center">
        <div class="col-md-8 col-md-offset-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h1 class="card-title">My Recipes</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="panel-title">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>Tasty something</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td>Chorba</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all"></tr>
                            <tr th:each="recipe:${recipes}">
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Description</td>
                                <td><a href="#" th:href="@{'recipe/'+${recipe.id}+'/show/'}">View</a></td>
                                <td><a href="#" th:href="@{'recipe/'+${recipe.id}+'/update/'}">Update</a></td>
                                <td><a href="#" th:href="@{'recipe/'+${recipe.id}+'/delete/'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>